html {
    min-height: 100%;
    background-size: cover;
    background: linear-gradient(purple, pink) no-repeat;
}

.number_box {
    background: white;
    display: grid;
    height: 600px;
    width: 600px;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin: 200px auto;
    border-radius: 20px;
}

.number_box input {
    height: 100px;
    width: 120px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    background: purple;
    color: white;
    font-size: 32px;
}

#result1 {
    font-size: 32px;
}

#result2 {
    font-size: 24px;
}

#result3 {
    font-size: 20px;
}

.number_box button {
    border-radius: 20px;
    height: 50px;
    background: linear-gradient(blue, lightblue);
    color: white;
}